@import url(https://fonts.googleapis.com/css?family=Roboto:300);
html, body {
    height: 100%;
}
.login-page {
  /* width: 700px; */
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #3E3F5B;
  /* max-width: 360px; */
  margin: 0 auto 100px;
  padding: 45px;
  /* text-align: center; */
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
@media screen and (min-width:700px) {
  .login-page{
    max-width: 700px;
  }
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  /*  */
  border: 0;
  /* */
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.input-zone{
  width: 70%;
  margin: 0 0 15px; 
}
.form-label{
    /* width: 30%; */
    font-weight: bold;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #549DB0;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #A6DCDE;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 25%;
  margin:0 auto;
}
@media screen and (max-width: 1024px) {
  .container {
    position: relative;
    z-index: 1;
    max-width: 100% !important;
    margin:0 auto;
  }
}

.register-area{
  padding: 20% 0 0;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
    /* height: 100vh; */
    background-color: #A9A9A9;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
}
@media screen and (max-width:320px) {
    html, body {
        height: 100vh;
        font-family: "Roboto", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;      
    }
}

.form-head{
    height: 10vh;
}
.modal-container{
  align-items: flex-end;
  background-color: rgba(62, 175, 124, 0.47);
  overflow-y: auto;
  z-index: 100;
}
.input-group .btn{
  z-index: 0;
}
.page-link.active, .active > .page-link {
  z-index: 0 !important;

}